.main {
--background: #090909;

}
.editTextTextPersonName {
width: 94.39024390243902%;
height: 10.410959%;
--background: black;
left: 1.1668292923671442%;
top: 12.2%;
position: fixed;

}
.editTextTextPersonName3 {
width: 93.90243902439025%;
height: 8.356164%;
left: 1.640243864640956%;
top: 2.3%;
--background: transparent;
position: fixed;

}
.checkBox {
color: #FFFAFA;
left: -949.6079771518707%;
top: 33.6%;
--background: transparent;
left: 57.107278625965115%;
position: fixed;

}
.checkBox2 {
color: #FFFFFF;
left: -378.9720107316971%;
top: 33.6%;
--background: transparent;
left: 22.790520645380017%;
position: fixed;

}
.button1 {
width: 91.70731707317073%;
height: 6.849315%;
color: #000000;
--background: white;
left: 3.8229267917028307%;
top: 47.2%;
position: fixed;

}
.textView2 {
left: -723.0959941148758%;
top: 74.8%;
--background: transparent;
left: 43.48535964608192%;
position: fixed;

}
