.main {
--background: #2196F3;

}
.button1 {
--background: #673AB7;
left: -721.6440128087997%;
top: 34.6%;
left: 43.398040770292276%;
position: fixed;

}
.USD1 {
--background: #F1F1F1;
color: #000000;
left: -721.6440128087997%;
top: 18.3%;
left: 43.398040770292276%;
position: fixed;

}
.textView {
left: -673.7279806137085%;
top: 28.0%;
--background: transparent;
left: 40.51647883415222%;
position: fixed;

}
