.main {
--background: #2196F3;

}
.button1 {
--background: transparent;
position: fixed;

}
.textView {
--background: #03A9F4;
top: 36.7%;
position: fixed;

}
.EnterDOB {
--background: #D6BEBE;
left: 49.70000088214874%;
top: 20.900002%;
position: fixed;

}
.main {
--background: #2196F3;

}
.button1 {
--background: transparent;
position: fixed;

}
.textView {
--background: #03A9F4;
top: 36.7%;
position: fixed;

}
.EnterDOB {
--background: #D6BEBE;
left: 49.70000088214874%;
top: 20.900002%;
position: fixed;

}
.main {
--background: #2196F3;

}
.button1 {
--background: transparent;
position: fixed;

}
.textView {
--background: #03A9F4;
top: 36.7%;
position: fixed;

}
.EnterDOB {
--background: #D6BEBE;
left: 49.70000088214874%;
top: 20.900002%;
position: fixed;

}
