.main {
--background: #2196F3;

}
.button1 {
width: 36.58536585365854%;
--background: #673AB7;
left: 31.517073730143103%;
top: 34.6%;
position: fixed;

}
.USD1 {
width: 60.97560975609756%;
--background: #F1F1F1;
color: #000000;
left: 19.395122295472678%;
top: 18.3%;
position: fixed;

}
.textView {
width: 24.390243902439025%;
left: 35.08292581976914%;
top: 28.0%;
--background: transparent;
position: fixed;

}
