.main {
--background: #03A9F4;

}
.textView {
color: #FFC107;
left: -723.0959941148758%;
top: 21.1%;
--background: transparent;
left: 43.48535964608192%;
position: fixed;

}
.button1 {
color: #FFFFFF;
--background: #673AB7;
left: -660.6600190401077%;
top: 59.100002%;
left: 39.73060114502906%;
position: fixed;

}
.textView3 {
width: 18.29268292682927%;
height: 8.630137%;
--background: #03A9F4;
color: #FFC107;
left: 38.89268382293422%;
top: 37.199999%;
position: fixed;

}
.Entry1 {
width: 25.365853658536587%;
height: 8.630137%;
left: 3.880975689829849%;
top: 17.7%;
--background: transparent;
position: fixed;

}
.Entry2 {
width: 30.24390243902439%;
height: 7.1232877%;
left: 65.84975649670857%;
top: 17.599999%;
--background: transparent;
position: fixed;

}
