.main {
--background: #2196F3;

}
.button1 {
--background: transparent;
left: 17.464%;
position: fixed;

}
.textView {
--background: #03A9F4;
top: 43.7%;
left: 17.464%;
position: fixed;

}
.EnterDOB {
--background: #D6BEBE;
left: -721.6440128087997%;
top: 27.900002%;
left: 43.398040770292276%;
position: fixed;

}
